[Unit]
Description=goweb

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/usman_sardar/code/ws_chat

[Install]
WantedBy=multi-user.target
