[Unit]
Description=goweb

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/nathy/go/src/github.com/samuael/Project/ws_chat/ws_chat

[Install]
WantedBy=multi-user.target
